# Arquivos de Ambiente e Segurança
#############################
# Chave de API Sensível
.env

# Pastas de ambiente virtual
venv/
__pycache__/

# Arquivos de Sistema (IDE/Editor)
.DS_Store
.vscode/

# Arquivos de Saída e Cache da Aplicação
########################################
# Logica do ChromaDB (Vetores Locais)
sblock_db/

# Logs de Python/Flask
*.log